body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #98A8F8;
    padding: 0, 5em;
    color: #fff;
    text-align: center;

}

.navbar {
    margin-left: 20px;
}

.navbar-nav {
    margin-left: 20px;
}

.d-flex {
    margin-right: 20px;
}



#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

.product {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

button {
    background-color: #65B741;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}





--footer----- body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    padding: 0, 5em;
    background-color: #98A8F8;
    color: #fff;
    text-align: center;
}

.atajosFooter {
    color: #fff;
    
}

.atajosFooter i{
    font-size:  200%;
    width: 30%;
    margin-bottom: 10%;
    color: #BBC3A4;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.item a {
    color: #fff;
}



.item a:hover {
    color: black;
}

.social-icons a:hover {
    color: black;
    /* Cambia el color al pasar el ratón sobre el enlace de Twitter, por ejemplo */
}

.banner img {
    padding: auto;
    width: 100%;
}

#logo {
    height: 90px;
    width: 90px;
    margin-right: 60%;
    border-radius: 50%;

}

p {
    font-family: 'Poppins', sans-serif;


}

.parrafoFooter {
    text-align: justify;
    
}

.logoFooter{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}






.contenedorMarcas img {
    height: 40px;
    width: 40px;
}

.Marcas img {
    height: 70px;
    width: 70px;
    margin: 10px 20px;

}

.card-img-top img{
    height: 35%;
    width: 5%;
}

.card{
     width: 75%; 
     margin-left: 25px;
}

.whatsapp-btn {
    
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    margin-left: 60px;
    
}

.whatsapp-btn img {
    height: 60px;
    width: 60px;
    margin-top: 40px;
      
}


.social-bar {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.social-icon {
    margin-bottom: 10px;
    display: block;
}

.social-icon img {
    width: 40px; /* Ajusta el tamaño de los iconos según tus necesidades */
    height: 40px;
    border-radius: 50%;
}

.perro img{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    
}

.parafoPerro{
    display: flex;
   
    
}

.i{
    height: 20%;
    width: 20%;
}

#cardProductos img{
    height: 40%;
    width: 40%;
    
}

